.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{ 
    max-width: 1100px ;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    background:#1a1919 ;
    padding: 1.2rem 1rem;
}

.project-card img{
    width: 500px;
    height: 300px;
}

.project-title{
    color: white;
    padding: 1rem 0;   
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;  
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btn {
    margin: 1rem 0.2rem;
    padding: 0.5rem 1rem;
}

.btn-light {
    padding: 12px 32px;
    border: 1px solid;
    margin: rem 0.2rem;
}

.btn-light:hover{
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: 0.3s;
  }

@media screen and (max-width:740px)  {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}